<div class='logo'>
  <h1>Time Tracker</h1>
</div>

<ul class="custom-nav nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Home", root_path %>
  </li>
  <li class="nav-item">
    <%= link_to "Time entries", posts_path %>
  </li>
  <li class="nav-item pull-right">
    <%= link_to "Edit Account", edit_user_registration_path %>
  </li>
  <li class="nav-item pull-right">
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  </li>
</ul>